{% extends 'starter.html' %}
{% load static %}
<h3 class="text-center m-1 mb-3">Stock Tracker</h3>
{% block title %}
Stock picker
{% endblock %}

{% block css %}
 <style>

 </style>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Live Stock Tracker</h1>
  <p>Select your favourite stocks.</p>
  <form action="{% url 'stockTracker' %}" method="post">
  <label for="stockPiker">Select Stocks:</label>
  {% csrf_token %}
      <select class="form-select" multiple aria-label="Multiple select example" name="stockpicker">
         {% for i in stockpicker %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>   
      <div class="d-grid gap-2 m-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}